//colors
$purple: #ad1fea;
$blue: #4661e6;
$navy: rgb(55, 63, 104);
$lighter-blue: #647196;
$light-blue: #62bcfa;
$white: #fff;
$light-grey: #f2f4ff;
$lightest-grey: #f7f8fd;
$orange: #f49f85;
//fonts

h1 {
  font-weight: 700;
  font-family: "Jost", sans-serif;
  font-size: 2rem;
  line-height: 35px;
  word-spacing: -0.33px;
  color: $white;
}
h2 {
  font-weight: 700;
  font-family: "Jost", sans-serif;
  font-size: 1.4rem;
  line-height: 29px;
  word-spacing: -0.25px;
}
h3 {
  font-weight: 700;
  font-family: "Jost", sans-serif;
  font-size: 0.9rem;
  line-height: 26px;
  word-spacing: -0.25px;
}
h4 {
  font-weight: 700;
  font-family: "Jost", sans-serif;
  font-size: 0.7rem;
  line-height: 20px;
  word-spacing: -0.2px;
}

@mixin body1 {
  font-size: 1.2rem;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 23px;
}
@mixin body2 {
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 22px;
}

@mixin body3 {
  font-size: 1.15rem;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 19px;
}

@mixin border-radius {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@mixin border-radius2 {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
